body{
font-family:Arial;
background:#f4f6f8;
margin:0;
text-align:center;
}

header{
background:#1f2937;
color:white;
padding:30px;
}

.harga{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:200px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

#testimoni-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin:20px;
}

.testi{
background:white;
padding:15px;
width:220px;
border-radius:8px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

form{
display:flex;
flex-direction:column;
gap:10px;
max-width:300px;
margin:auto;
}

input,select,textarea{
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px;
background:#2563eb;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.wa{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;
}

footer{
margin-top:30px;
padding:15px;
background:#ddd;
}
